html, body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin: 0;
    min-height: 180px;
    padding: 0;
    width: 384px;
}
h1 {
    font-family: 'Menlo', monospace;
    font-size: 22px;
    font-weight: 400;
    margin: 0;
    color: #2f5876;
}
a:link, a:visited  {
    color: #000;
    outline: 0;
    text-decoration: none;
}
img {
    width: 30px;
}
.modal-header {
    align-items: center;
    border-bottom: 0.5px solid #dadada,
}
.modal-content {
    padding: 0 22px;
}
.modal-icons {
    border-top: 0.5px solid #dadada;
    height: 50px;
    width: 100%;
}
.logo {
    padding: 16px;
}
.logo-icon {
    vertical-align: text-bottom;
    margin-right: 12px;
}
.version {
    color: #444;
    font-size: 18px;
}
.flex-container {
    display: flex;
    justify-content: space-between;
}
.flex {
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
    width: 120px;
}
.flex:hover {
    opacity: 0.4;
}

.flex .fa {
    font-size: 40px;
    color: #2f5876;
}

.getInfo {
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: normal;
}
.text {
    width: 300px;
    font-weight: normal;
}

.update-user-info-button {
    font-size: 20px;
    padding: 10px;
    background-color: #65a4d1;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

input.largerCheckbox { 
    width: 25px; 
    height: 25px; 
}

#bootstrap-overrides .small-font{
    font-size: 23px;
}   
#bootstrap-overrides .medium-size {
    width: 25px;
    height: 25px;
}
#bootstrap-overrides .medium-font {
    font-size: 30px;
}

#bootstrap-overrides .medium-btn {
    font-size: 40px;
}